<!DOCTYPE html>
<html lang="en">
<%- include('partials/Header') -%>

<body>
    <%- include("partials/Navbar",{login:login}); -%>


    <!-- About Admin -->

    <div>
        <div>
            <p style="text-align: center;">__________________________________________</p>
            <h1 style="text-align: center;">About Admin</h1>
            <p style="text-align: center;">__________________________________________</p>
        </div>

        <div class="my-3 py-3 alert alert-warning alert-dismissible fade show d-none" id="none1" role="alert">
            <strong id="req">Pls Select Image :( </strong>
        </div>

        <div class="col-10 col-sm-10 col-md-8 col-lg-7 mx-auto">
            <div class="my-auto border">
                <img src="/public/Profile/Admin/<%- adminImg %>" class="w-100" id="adminImg" alt="Admin Images">
                <h1 style="text-align: center;">Main Img</h1>
            </div>


            <section class="section-preview">
                <form class="mx-auto md-form my-3" id="adminImgChange" method="POST" enctype="multipart/form-data">
                    <div class="mx-auto file-field">
                        <div class="col-10">
                            <div class="btn btn-primary btn-sm float-left waves-effect waves-light">
                                <span>Select Image</span>
                                <input type="file" class="imgCon" id="file" name="file">
                            </div>
                        </div>
                        <div class="file-path-wrapper">
                            <input readonly class="file-path validate valid" value="<%- adminImg %>" id="valid"
                                type="text" placeholder="Upload your file">
                        </div>
                        <div class="file-path-wrapper d-none">
                            <input readonly class="file-path validate valid" name="oldImg" value="<%- adminImg %>"
                                type="text" placeholder="Upload your file">
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    </div>



    <!-- About Admin -->


    <%- include('partials/Footer') -%>
</body>

<script>

    $(document).ready(function () {
        console.log("redy");


        $("#adminImgChange").on("change", function () {
            $("#none1").removeClass('alert-warning');
            $.ajax({
                method: 'post',
                url: '/about/',
                data: new FormData(this),
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.status == 1) {
                        $("#valid").addClass("selected").val(data.imgName);
                        $('#adminImg').attr('src', `/public/Profile / Admin / ${data.imgName}`);
                        window.location.replace("/about");
                    } else {
                    }
                }
            });
            var fileName = $(this).val().split("\\").pop();
            $("#valid").addClass("selected").val(fileName);
        });

        $('#updateMainImg').click(function (e) {
            console.log("hello");
        });


        // $.ajax({
        //     method: 'post',
        //     url: 'admin',
        //     success: function (data) {
        //         $('#adminImg').attr('src', `/Public/profile/Admin/${data[0]}`);
        //     }
        // });

        // $('#updateMainImg').click(function (e) {
        //     e.preventDefault();
        //     $.ajax({
        //         method: 'post',
        //         url: 'admin/updateImg',
        //         success: function (data) {
        //             $('#adminImg').attr('src', `/Public/profile/Admin/${data[0]}`);
        //         }
        //     });
        // });
    });
</script>

</html>